<div class="content-area">
	<div class="content-container">
		<h2>Individual Edu Plus license request</h2>
		<br>
		<p>
			Educational licenses are available to users with proven educational status. Please note that the free Edu Plus licenses available in this promotion period will expire on June 30, 2016.
		</p>
		<p>
			If you have an email address at your educational institution, please ensure this is the address you use to login to Moovly. If not, you can change your email address <a href="#">here*</a>.
		</p>

		<br>
		<div class="content-container group-licenses">
			<h3 class="center">About your Educational Institution</h3>

			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
		                <label>Name of your institution</label>
		                <input type="text" class="form-control" placeholder="Name" data-attr="name">
		            </div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
		                <label>Website</label>
		                <input type="text" class="form-control" placeholder="https://" data-attr="website">
		            </div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
		                <label>Address</label>
		                <input type="text" class="form-control" placeholder="Address" data-attr="address">
		            </div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
		                <label>Zip Code</label>
		                <input type="text" class="form-control" placeholder="" data-attr="zip">
		            </div>
				</div>
			</div>
			<div class="row">
				
				<div class="col-sm-6">
					<div class="form-group">
		                <label>City</label>
		                <input type="text" class="form-control" placeholder="" data-attr="city">
		            </div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
		                <label>Country</label>
		                <input type="text" class="form-control" placeholder="" data-attr="country">
		            </div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
		                <label>Education type</label>
		                <select class="chosen-select" data-attr="edu-type">
		                	<option></option>
		                	<option value="primary">Primary school (6-12)</option>
		                	<option value="secondary">Secondary school (12-18)</option>
		                	<option value="higher">Higher education (18+)</option>
		                	<option value="adult">Adult education</option>
		                	<option value="other">Other:</option>
		                </select>
		                <input type="text" class="form-control chosen-other" placeholder="Other education type" data-attr="edu-other">
		            </div>
				</div>
			</div>
			<br>
			<p class="small">
				*If you don’t have an email address at your Educational Institute, please provide a link with an online proof of your educational status, such as a public LinkedIn page.
				<div class="row">
					<div class="col-sm-6">
						 <input type="text" class="form-control" placeholder="Public link">
					</div>
				</div>
				<br>
				<span class="mv-button" id="submit">
					Submit
				</span>
			</p>
		</div>
	</div>
</div>