<div class="content-area">
	<div class="content-container main-content">
		<h2>Education Pro license request</h2>
		<br>
		<p>Moovly provides highly discounted or even free licenses to teachers, students, schools, professors and other professionals working in the non-commercial education sector. Educational licenses are only available for <strong>true educational accounts</strong>: please make sure you are registered on Moovly with an email address from a .edu or other educational domain.</p>

		<p>
			The <strong>educational Pro license</strong> (Edu Pro) has all features of the full Moovly <a href="#">Pro license</a> and is available at <strong>50% discount</strong> (yearly licenses only). To request your educational Pro license, please complete the form below:
		</p>

		<br>
		<div class="content-container group-licenses">
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
		                <label>First Name</label>
		                <input type="text" class="form-control" placeholder="Name" data-attr="firstname">
		            </div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
		                <label>Last Name</label>
		                <input type="text" class="form-control" placeholder="Last name" data-attr="name">
		            </div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-7">
					<div class="form-group">
		                <label>Subject</label>
		                <input type="text" class="form-control" placeholder="Subject" data-attr="subject">
		            </div>
				</div>
				<div class="col-sm-5">
					<div class="form-group">
		                <label>Email</label>
		                <input type="email" class="form-control" placeholder="Email" data-attr="email">
		            </div>
				</div>
			</div>
			<div class="form-group">
                <label>Message</label>
                <div contenteditable="true" class="contenteditable" data-attr="message"></div>
            </div>
            <span class="mv-button" id="submit">
				Send
			</span>
		</div>
	</div>
	<div class="content-container edu-alerts">
		<div class="alerts alert alert-warning"></div>
	</div>
</div>