<div class="content-area">
	<div class="content-container">
		<h2>Content Areas</h2>
		This is a default content area. Using the <strong>".center"</strong> class will center it's content.
	</div>
</div>
<div class="content-area greyed">
	<div class="content-container">
		This is a grey content area.
	</div>
</div>
<div class="content-area blued">
	<div class="content-container">
		This is a blue content area..
		<br>
		<small>Adding the <strong>".with-icons"</strong> class will render it with an iconed background, like the header.</small>
	</div>
</div>
<div class="content-area paralax-bg" style="background-image: url('images/sketch.jpeg'); color: #fff;">
	<div class="content-container">
		This is an image backgrounded content area.
	</div>
</div>