
<ul class="article-list">
	<li class="article">
		<div class="article-title">Need help with content creation? Contact a Moovly Partner!</div>
		<div class="article-date">Sep 08, 2015 by Kaat Van de Vijver</div>
		<div class="article-content">We're happy to introduce you to a few new Moovly Partners! Our partners offer a wide range of Moovly based services, including the creation of custom library objects in your style or the production of a custom video in Moovly, which you can edit afterwards.</div>
		<a href="#" class="more">Read more » </a>
	</li>
</ul>