<div class="row">
	<div class="col-sm-8">
		<h2>Badges</h2>
		<span class="badge-icon"><i class="fa fa-envelope"></i></span> Without text block
		<div class="badge-group">
			<span class="badge-icon">
				<i class="fa fa-envelope" style="position: relative; left: 1px;"></i>
			</span>
			<div class="badge-text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas neque ipsum, consectetur at pulvinar non, cursus non nisl.
			</div>
		</div>
	</div>

	<div class="col-sm-4">
		<h2>Social Badges</h2>
		<div class="social-icons">
			<a href="#"><div class="social-badge fb"><i class="fa fa-facebook"></i></div></a>
			<a href="#"><div class="social-badge twt"><i class="fa fa-twitter"></i></div></a>
			<a href="#"><div class="social-badge gp"><i class="fa fa-google-plus"></i></div></a>
			<a href="#"><div class="social-badge li"><i class="fa fa-linkedin"></i></div></a>
			<a href="#"><div class="social-badge yt"><i class="fa fa-youtube"></i></div></a>
			<a href="#"><div class="social-badge vi"><i class="fa fa-vimeo"></i></div></a>
			<a href="#"><div class="social-badge pi"><i class="fa fa-pinterest-p"></i></div></a>
			<a href="#"><div class="social-badge inst"><i class="fa fa-instagram"></i></div></a>
		</div>
	</div>
</div>