
<br>
<span class="mv-button">
	Default
</span>
<span class="mv-button iconed">
	<i class="fa fa-play"></i>
	Icon
</span>
<span class="mv-button blued">
	Blue
</span>
<span class="mv-button blued iconed">
	<i class="fa fa-play"></i>
	Icon
</span>
<span class="mv-button whited">
	White
</span>
<span class="mv-button whited iconed">
	<i class="fa fa-play"></i>
	Icon
</span>
<span class="mv-button blued xl">
	XL button
</span>
<span class="mv-button blued full">
	Full width button
</span>
