<h1>h1: Dragons make amazing pets</h1>
<h2>h2: Dragons make amazing pets</h2>
<h3>h3: Dragons make amazing pets</h3>
<h4>h4: Dragons make amazing pets</h4>
<p>Paragraph: Dragons make amazing pets</p>
<p class="muted">Muted text: Dragons make amazing pets</p>