<footer>
	<div class="content-container">
		<div class="row">
			<div class="col-xs-3">
				<ul>
					<li>Moovly</li>
					<li><a href="#">Home</a></li>
					<li><a href="#">Gallery</a></li>
					<li><a href="#">Plans & Pricing</a></li>
					<li><a href="#">Marketplace</a></li>
				</ul>
			</div>
			<div class="col-xs-3">
				<ul>
					<li>About</li>
					<li><a href="#">About us</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Partners</a></li>
				</ul>
			</div>
			<div class="col-xs-3">
				<ul>
					<li>Support</li>
					<li><a href="#">FAQs</a></li>
					<li><a href="#">User Guide</a></li>
					<li><a href="#">Training</a></li>
					<li><a href="#">Contact us</a></li>
				</ul>
			</div>
			<div class="col-xs-3">
				<ul>
					<li>Solutions</li>
					<li><a href="#">Personal</a></li>
					<li><a href="#">Business</a></li>
					<li><a href="#">Education</a></li>
				</ul>
			</div>
		</div>


		<div class="under-footer pull-left">©2014 Moovly, All rights reserved</div>
		<div class="social-icons pull-right">
			<a href="#"><div class="social-badge fb"><i class="fa fa-facebook"></i></div></a>
			<a href="#"><div class="social-badge twt"><i class="fa fa-twitter"></i></div></a>
			<a href="#"><div class="social-badge gp"><i class="fa fa-google-plus"></i></div></a>
			<a href="#"><div class="social-badge li"><i class="fa fa-linkedin"></i></div></a>
			<a href="#"><div class="social-badge yt"><i class="fa fa-youtube"></i></div></a>
			<a href="#"><div class="social-badge vi"><i class="fa fa-vimeo"></i></div></a>
			<a href="#"><div class="social-badge pi"><i class="fa fa-pinterest-p"></i></div></a>
			<a href="#"><div class="social-badge inst"><i class="fa fa-instagram"></i></div></a>
		</div>
	</div>
	<div class="clearfix"></div>
</footer>