<div class="grid gallery-grid">
	<div class="grid-item spacer"></div>
  	<div class="grid-item gallery-span-6">
  		<div class="gallery-item">
  			<img class="gallery-thumb" src="http://placehold.it/600x350">
			<div class="gallery-thumb-wrapper">
				<div class="gallery-thumb-info">
					<div class="gallery-thumb-info-wrapper">
						<div class="gallery-thumb-title">Birthday Sarah</div>
						<div class="gallery-thumb-actions">
							<div class="mv-gallery-button">
								<i class="fa fa-eye"></i>
							</div>
							<div class="mv-gallery-button">
								<i class="fa fa-pencil"></i>
							</div>
							<div class="mv-gallery-button pull-right">
								<i class="fa fa-trash"></i>
							</div>
							<!-- <div class="mv-gallery-play">
								<i class="fa fa-play"></i>
							</div>
							<div class="meta">123 views</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
  	</div>
  	<div class="grid-item gallery-span-3">
  		<div class="gallery-item">
  			<img class="gallery-thumb" src="http://placehold.it/600x350">
			<div class="gallery-thumb-wrapper">
				<div class="gallery-thumb-info">
					<div class="gallery-thumb-info-wrapper">
						<div class="gallery-thumb-title">Birthday Sarah</div>
						<div class="gallery-thumb-actions">
							<div class="mv-gallery-button">
								<i class="fa fa-eye"></i>
							</div>
							<div class="mv-gallery-button">
								<i class="fa fa-pencil"></i>
							</div>
							<div class="mv-gallery-button pull-right">
								<i class="fa fa-trash"></i>
							</div>
							<!-- <div class="mv-gallery-play">
								<i class="fa fa-play"></i>
							</div>
							<div class="meta">123 views</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
  	</div>
  	<div class="grid-item gallery-span-3">
  		<div class="gallery-item">
  			<img class="gallery-thumb" src="http://placehold.it/600x350">
			<div class="gallery-thumb-wrapper">
				<div class="gallery-thumb-info">
					<div class="gallery-thumb-info-wrapper">
						<div class="gallery-thumb-title">Birthday Sarah</div>
						<div class="gallery-thumb-actions">
							<div class="mv-gallery-button">
								<i class="fa fa-eye"></i>
							</div>
							<div class="mv-gallery-button">
								<i class="fa fa-pencil"></i>
							</div>
							<div class="mv-gallery-button pull-right">
								<i class="fa fa-trash"></i>
							</div>
							<!-- <div class="mv-gallery-play">
								<i class="fa fa-play"></i>
							</div>
							<div class="meta">123 views</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
  	</div>
  	<div class="grid-item gallery-span-3">
  		<div class="gallery-item">
  			<img class="gallery-thumb" src="http://placehold.it/600x350">
			<div class="gallery-thumb-wrapper">
				<div class="gallery-thumb-info">
					<div class="gallery-thumb-info-wrapper">
						<div class="gallery-thumb-title">Birthday Sarah</div>
						<div class="gallery-thumb-actions">
							<div class="mv-gallery-button">
								<i class="fa fa-eye"></i>
							</div>
							<div class="mv-gallery-button">
								<i class="fa fa-pencil"></i>
							</div>
							<div class="mv-gallery-button pull-right">
								<i class="fa fa-trash"></i>
							</div>
							<!-- <div class="mv-gallery-play">
								<i class="fa fa-play"></i>
							</div>
							<div class="meta">123 views</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
  	</div>
  	<div class="grid-item gallery-span-3">
  		<div class="gallery-item">
  			<img class="gallery-thumb" src="http://placehold.it/600x350">
			<div class="gallery-thumb-wrapper">
				<div class="gallery-thumb-info">
					<div class="gallery-thumb-info-wrapper">
						<div class="gallery-thumb-title">Birthday Sarah</div>
						<div class="gallery-thumb-actions">
							<div class="mv-gallery-button">
								<i class="fa fa-eye"></i>
							</div>
							<div class="mv-gallery-button">
								<i class="fa fa-pencil"></i>
							</div>
							<div class="mv-gallery-button pull-right">
								<i class="fa fa-trash"></i>
							</div>
							<!-- <div class="mv-gallery-play">
								<i class="fa fa-play"></i>
							</div>
							<div class="meta">123 views</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
  	</div>
</div>

<div class="grid gallery-grid">
	<div class="grid-item spacer"></div>
	<div class="grid-item gallery-span-3">
  		<div class="gallery-item">
  			<img class="gallery-thumb" src="http://placehold.it/600x350">
			<div class="gallery-thumb-wrapper">
				<div class="gallery-thumb-info">
					<div class="gallery-thumb-info-wrapper">
						<div class="gallery-thumb-title">Birthday Sarah</div>
						<div class="gallery-thumb-actions">
							<div class="mv-gallery-button">
								<i class="fa fa-eye"></i>
							</div>
							<div class="mv-gallery-button">
								<i class="fa fa-pencil"></i>
							</div>
							<div class="mv-gallery-button pull-right">
								<i class="fa fa-trash"></i>
							</div>
							<!-- <div class="mv-gallery-play">
								<i class="fa fa-play"></i>
							</div>
							<div class="meta">123 views</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
  	</div>
  	<div class="grid-item gallery-span-3">
  		<div class="gallery-item">
  			<img class="gallery-thumb" src="http://placehold.it/600x350">
			<div class="gallery-thumb-wrapper">
				<div class="gallery-thumb-info">
					<div class="gallery-thumb-info-wrapper">
						<div class="gallery-thumb-title">Birthday Sarah</div>
						<div class="gallery-thumb-actions">
							<div class="mv-gallery-button">
								<i class="fa fa-eye"></i>
							</div>
							<div class="mv-gallery-button">
								<i class="fa fa-pencil"></i>
							</div>
							<div class="mv-gallery-button pull-right">
								<i class="fa fa-trash"></i>
							</div>
							<!-- <div class="mv-gallery-play">
								<i class="fa fa-play"></i>
							</div>
							<div class="meta">123 views</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
  	</div>
  	<div class="grid-item gallery-span-3">
  		<div class="gallery-item">
  			<img class="gallery-thumb" src="http://placehold.it/600x350">
			<div class="gallery-thumb-wrapper">
				<div class="gallery-thumb-info">
					<div class="gallery-thumb-info-wrapper">
						<div class="gallery-thumb-title">Birthday Sarah</div>
						<div class="gallery-thumb-actions">
							<div class="mv-gallery-button">
								<i class="fa fa-eye"></i>
							</div>
							<div class="mv-gallery-button">
								<i class="fa fa-pencil"></i>
							</div>
							<div class="mv-gallery-button pull-right">
								<i class="fa fa-trash"></i>
							</div>
							<!-- <div class="mv-gallery-play">
								<i class="fa fa-play"></i>
							</div>
							<div class="meta">123 views</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
  	</div>
  	<div class="grid-item gallery-span-3">
  		<div class="gallery-item">
  			<img class="gallery-thumb" src="http://placehold.it/600x350">
			<div class="gallery-thumb-wrapper">
				<div class="gallery-thumb-info">
					<div class="gallery-thumb-info-wrapper">
						<div class="gallery-thumb-title">Birthday Sarah</div>
						<div class="gallery-thumb-actions">
							<div class="mv-gallery-button">
								<i class="fa fa-eye"></i>
							</div>
							<div class="mv-gallery-button">
								<i class="fa fa-pencil"></i>
							</div>
							<div class="mv-gallery-button pull-right">
								<i class="fa fa-trash"></i>
							</div>
							<!-- <div class="mv-gallery-play">
								<i class="fa fa-play"></i>
							</div>
							<div class="meta">123 views</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
  	</div>
</div>