<div class="project-view">
	<h3>The Player</h3> 
	<div class="project-video">

  		<video id="myMoov" class="video-js vjs-default-skin vjs-big-play-centered vjs-controls-enabled vjs-has-started vjs-paused vjs-user-inactive" controls preload="auto" width="100%" height="100%" poster="" data-setup='{"aspectRatio":"800:450"}'>
		    <source src="https://www.moovly.com/upload/video/b03ea104-3e3d-1dbd_4961.mp4" type="video/mp4">
            <source src="https://www.moovly.com/upload/video/b03ea104-3e3d-1dbd_4405.ogv" type="video/ogv">
            <source src="https://www.moovly.com/upload/video/b03ea104-3e3d-1dbd_3470.webm" type="video/webm">
		    <p class="vjs-no-js">
		      	To view this video please enable JavaScript, and consider upgrading to a web browser that
		      	<a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
		    </p>
		</video>

		<div class="project-actions">
			<div class="project-actions">
				<div class="project-view-social">
					<a href="#"><div class="social-badge fb"><i class="fa fa-facebook"></i></div></a>
					<a href="#"><div class="social-badge twt"><i class="fa fa-twitter"></i></div></a>
					<a href="#"><div class="social-badge gp"><i class="fa fa-google-plus"></i></div></a>
					<a href="#"><div class="social-badge li"><i class="fa fa-linkedin"></i></div></a>
					<a href="#"><div class="social-badge pi"><i class="fa fa-pinterest"></i></div></a>
				</div>
				<div class="mv-button whited mini iconed pull-right">
					<i class="fa fa-code"></i>
					Embed
				</div>
			</div>
		</div>

		<div class="project-description">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at lacinia nulla, eu euismod augue. Donec luctus nisl augue, sed semper odio varius vel.
		</div>
	</div>
</div>
