<div class="quote">
	<div class="quote-text">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere, velit a tincidunt vestibulum, turpis risus volutpat felis, vel rhoncus sem nisi vel risus.
	</div>
	<div class="quote-author">
		<span>John Doe</span> - President of the USA
	</div>
</div>