<div class="mv-side-panel tip-panel">
	<div class="side-panel-title">Tip:</div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas neque ipsum, consectetur at pulvinar non, cursus non nisl.</p>
</div>

<div class="mv-side-panel msg-panel">
	<div class="side-panel-title">Message:</div>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas neque ipsum, consectetur at pulvinar non, cursus non nisl.</p>
</div>