<div class="content-area">
	<div class="content-container main-content">
		<h2>Moovly login met Smartschool</h2>
		<br>
		<p>Dankzij het partnership tussen <a href="https://www.moovly.com/">Moovly</a> en Smartschool kan je op Moovly eenvoudig registreren en inloggen met je Smartschool account. Je krijgt dan ook meteen een Moovly Edu Plus licentie!</p> 

		<div class="logged-in">
			<p>De filmpjes die je maakt met Moovly kan je embedden in Smartschool via <a href="https://www.moovly.com/user/795241/gallery">My Gallery</a>.</p> 
		</div>
		<div class="logged-out">
			<p>	
				<a href="http://web.moovly.com/platform/login.html?smartschool">
					<img src="images/sociallogin_smartschool.png">
				</a>
			</p>
		</div>

		<p>Dit filmpje legt uit wat Moovly is en wat je ermee kan doen:</p>		

		<div class="content-container slim">
			<video id="myMoov" class="video-js vjs-default-skin vjs-big-play-centered vjs-controls-enabled vjs-has-started vjs-paused" controls preload="auto" width="100%" height="100%" poster="">
			    <source src="https://www.moovly.com/upload/video/b03ea104-61e4-1614_8788.mp4" type="video/mp4">
	            <source src="https://www.moovly.com/upload/video/b03ea104-61e4-1614_3162.ogv" type="video/ogv">
	            <source src="https://www.moovly.com/upload/video/b03ea104-61e4-1614_4200.webm" type="video/webm">
			    <p class="vjs-no-js">
			      	To view this video please enable JavaScript, and consider upgrading to a web browser that
			      	<a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
			    </p>
			</video>
		</div>

		<br><br>
		<h2>Veelgestelde vragen (FAQs)</h2>
		<br>
		<label>Wat zit er in een Moovly Edu Plus licentie?</label>
		<p>Deze licentie is een volwaardige Moovly Plus licentie die enkel beschikbaar is voor leerkrachten, leerlingen en ouders. Voor meer informatie over de features van de Moovly Plus licentie, zie de FAQ <a href="https://www.moovly.com/help/subscription-and-credits/what-s-in-the-plus-license">What's in the Plus license?</a> (Engels).</p>

		<label>Hoelang blijft mijn Moovly Plus licentie geldig?</label>
		<p>Als je op Moovly registreert en inlogt met je Smartschool account, dan beschik je over een Edu Plus licentie tot het einde van het schooljaar 2015-2016, m.a.w. tot 31 augustus 2016.</p>

		<label>Wie kan van zo'n Moovly Edu Plus licentie gebruik maken?</label>
		<p>Iedereen die over een Smartschool account beschikt, krijgt automatisch en rechtstreeks toegang tot de Moovly Edu Plus licentie: leerkrachten, leerlingen en ouders die over een Smartschool account beschikken.</p>

		<label>Hoe plaats ik een Moovly filmpje terug in Smartschool?</label>
		<p>Als je een filmpje of presentatie in Moovly hebt gemaakt en je wil het in Smartschool plaatsen, dan kan je dat doen als volgt:</p>
		<ol>
			<li>Klik op de <strong>Publish</strong>-knop onder het filmpje en kies "Publish to Moovly Gallery". Je preview-versie wordt dan omgevormd ("gerenderd") tot een videoformaat. Naargelang de lengte van het filmpje duurt dit meestal 5 à 10 minuutjes.</li>
			<li>Als het filmpje klaar is, ontvang je een e-mail met een link naar het filmpje in jouw Gallery. Je kan deze ook terug vinden door het <strong>Login</strong> menu rechts boven open te klikken en <strong>My Gallery</strong> te selecteren.</li>
			<li>Onder deze videoversie van je filmpje vind je een <strong>Embed</strong>-knop. Klik op deze knop en kopieer de code. Deze kan je nu plaatsen op jouw Smartschool-pagina naar keuze.</li>
		</ol>
		<br>

		<label>Wie kan mijn Moovly filmpjes zien?</label>
		<p>Wanneer je aan een nieuw Moovly-filmpje werkt, is dit enkel zichtbaar voor jou. Wanneer je het publiceert op de Moovly Gallery, dan staat het publiek, maar anderen kunnen je filmpje enkel maar zien indien ze de gecodeerde URL van de pagina van je filmpje kennen. Je kan je filmpjes ook downloaden en bewaren op je computer.</p>

		<label>Is er ook een Nederlandstalige versie?</label>
		<p>Nee, voorlopig is Moovly als online applicatie enkel beschikbaar in het Engels. Maar je kan er uiteraard Nederlandstalige filmpjes mee maken. </p>

		<p>Meer vragen? <a href="https://www.moovly.com/contact">Contacteer ons via dit formulier</a>.</p>

	</div>
	<div class="content-container edu-alerts">
		<div class="alerts alert alert-warning"></div>
	</div>
</div>