<br>
<div class="row">
	<div class="col-sm-6 feature-reel">
		<div class="feature-reel-item">
			<div class="item-badge"><i class="fa fa-laptop"></i></div>
			<div class="item-content">
				<div class="item-title">All you need is a browser</div>
				<div class="item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
			</div>
		</div>
		<div class="feature-reel-item">
			<div class="item-badge"><i class="fa fa-hand-pointer-o"></i></div>
			<div class="item-content">
				<div class="item-title">Drag & Drop based</div>
				<div class="item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 feature-reel">
		<div class="feature-reel-item">
			<div class="item-badge"><i class="fa fa-share-alt"></i></div>
			<div class="item-content">
				<div class="item-title">Sharing is caring</div>
				<div class="item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
			</div>
		</div>

		<div class="feature-reel-item">
			<div class="item-badge"><i class="fa fa-arrow-up"></i></div>
			<div class="item-content">
				<div class="item-title">Export to most formats</div>
				<div class="item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-4 mv-step">
		<i class="fa fa-lightbulb-o"></i>
		<div class="title">Create</div>
		<p class="muted">
			Make videos or presentations using library objects and free templates. Add your own images, sounds and video clips.
		</p>
	</div>
	<div class="col-xs-4 mv-step">
		<i class="fa fa-pencil"></i>
		<div class="title">Manage</div>
		<p class="muted">
			Easily edit, view, name, describe, copy, delete and restore the videos you created with Moovly. 
		</p>
	</div>
	<div class="col-xs-4 mv-step">
		<i class="fa fa-share-alt"></i>
		<div class="title">Share</div>
		<p class="muted">
			Share your videos with team members, publish them to YouTube & Facebook or download them for offline use.
		</p>
	</div>
</div>