<!DOCTYPE html>
	<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
	<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
	<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
	<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
	<head>

		<meta charset="utf-8">
		<link href='vendor/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
		<link href='vendor/font-awesome/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
		<link href="http://vjs.zencdn.net/5.4.4/video-js.css" rel="stylesheet">
		<link href='vendor/chosen/chosen.min.css' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="css/main.css">
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
		<title>Moovly - Edu</title>

	</head>
	<body id="edu">
		{{>header}}
		{{>edu/plus_license}}
		{{>footer}}

		<script type="text/javascript" src="vendor/jquery/dist/jquery.min.js"></script>
		<script type="text/javascript" src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="vendor/chosen/chosen.jquery.min.js"></script>
		<script type="text/javascript">

			var $select = $('.chosen-select');
		  	var parseselection = function(e) {
		    
			    var selection = $select.val();

			    if (selection == 'other')   $('.chosen-other').show();
			    else                        $('.chosen-other').hide();
			  }

		  	$select.chosen({disable_search_threshold: 10, width:"100%"});
		  	$select.chosen().change(parseselection);

		  	var getFormData = function() { 
		  		return {
			  		institution: {
			  			name: $('[data-form=institution] [data-attr=name]').val(),
			  			website: $('[data-form=institution] [data-attr=website]').val(),
			  			address: $('[data-form=institution] [data-attr=address]').val(),
			  			zip: $('[data-form=institution] [data-attr=zip]').val(),
			  			city: $('[data-form=institution] [data-attr=city]').val(),
			  			country: $('[data-form=institution] [data-attr=country]').val(),
			  			type: $('[data-form=institution] [data-attr=edu-type]').val(),
			  			other: $('[data-form=institution] [data-attr=edu-other]').val(),
			  		},
			  		publiclink: $('[data-attr=pub-link]').val()
			  	}
		  	}

		  	$('#submit').click(function(){
		  		$.ajax({
				  	method: "POST",
				  	dataType: "json",
				  	url: "http://jsonplaceholder.typicode.com",
				  	data: JSON.stringify(getFormData()),
			  		contentType: 'application/json'
				});
		  	});
		  
		</script> 
	</body>
</html>