body {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.8em;
	color: $grey;
}

// fonts 
h1, h2, h3 {
	font-weight: 300;
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 35px;
}

h5 {
	font-size: 16px;
}

a {
	color: $blue;

	&:hover {
		color: $blue;
	}
}

ul {
	padding-left: 0;
	list-style: none;

	&.arrowed {
		margin-left: 30px;

		li {
			&:before {
				content: "\f101";
				font: normal normal normal 14px/1 FontAwesome;
			    font-size: inherit;
			    text-rendering: auto;
			    -webkit-font-smoothing: antialiased;
			    -moz-osx-font-smoothing: grayscale;
			    color: $blue;
			    margin-right: 10px;
			}
		}

		&.no-margin {
			margin-left: 0;
		}
	}
}

img {
	max-width: 100%;
}

p {
	margin-bottom: 20px;

	a {
		border-bottom: 1px solid rgba(0,0,0,0.1);

		&:hover {
			color: $dark-blue;
			text-decoration: none;
			border-bottom: 1px solid $dark-blue;			
		}
	}
}

.alert-dismissable .close, .alert-dismissible .close {
	right: 0;
}

.btn-default {
	color: #666;
	font-weight: 300;
}

.content-container {
	max-width: 1000px;
	margin: 0 auto;

	@media (min-width: 1200px) {
		max-width: 1100px;
	}

	@media (min-width: 1300px) {
		max-width: 1200px;
	}

	@media (max-width: 1000px) {
		padding: 0 15px;
	}
}

.center {
	text-align: center;
}

.muted {
	color: #999;
}

.clearfix {
	clear: both;
}

.separator {
	margin: 30px 0;
	border-bottom: thin solid #eee;
}

.contenteditable {
	overflow: hidden;
	display: block;
    width: 100%;
    height: 100px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}