//******************************//
//******* Inputs & Forms *******// 

.form {
	h3 {
		margin: 40px 0 20px;
	}

	input {
		margin-bottom: 12px;
	}
}

.big-input {
	max-width: 550px;
	border-radius: 4px;
	background-color: $white;
	padding: 11px 50px 11px 15px;
	position: relative;
	box-shadow: 0 3px 0px 0px rgba(0, 0, 0, 0.1);

	.input-icon {
		position: absolute;
	    right: 10px;
	    top: 9px;
	    font-size: 2em;
	    color: $grey;
	}

	input {
		border: none;
		padding: 0;
		margin: 0;
		width: 100%;
		font-size: 1.2em;
		color: $grey;

		&:focus {
			outline: 0;
		}
	}

	&.focuson {
		box-shadow: 0 0 3px 4px rgba(0, 0, 0, 0.2);
	}
}

//**********************//
//******* Badges *******// 
.badge-icon {
	background-color: $light-grey;
	margin-right: 7px;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    color: $grey;
    font-size: 1.1em;
    line-height: 35px;
    display: inline-block;
    text-align: center;

    &.big {
    	width: 80px;
    	height: 80px;
    	line-height: 90px;
    }
}

.badge-group {
	margin: 20px 0;
	position: relative;

	.badge-icon {
		position: absolute;
		top: 0;
		left: 0;
	}

	.badge-text {
		padding-left: 50px;
	}
}

.social-badge {
	background-color: $light-grey;
	margin-right: 3px;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    color: $white;
    font-size: .9em;
    line-height: 25px;
    display: inline-block;
    text-align: center;

    &.fb { background-color: #365b98; }
    &.twt { background-color: #36c9f3; }
    &.gp { background-color: #d64161; }
    &.li { background-color: #3678b8; }
    &.yt { background-color: #d53f48; }
    &.vi { background-color: #7fcbf0; }
    &.pi { background-color: #d13f48; }
    &.inst { background-color: #36769f; }
}

.label {
	&.mv-label {
		background-color: $blue;
	}
}

//***********************//
//******* Buttons *******// 
.mv-button {
	border-radius: 4px;
	margin-right: 20px;
	background-color: $green;
	padding: 8px 35px;
	display: inline-block;
	color: $white;
	box-shadow: 0 2px 0px 0px rgba(0, 0, 0, 0.1);
	margin-bottom: 10px;

	&:hover {
		box-shadow: 0 4px 0px 0px rgba(0, 0, 0, 0.1);
		background-color: #46cb29;
		position: relative;
		bottom: 1px;
		cursor: pointer;
	}

	&.iconed {
		padding-left: 35px;

		i {
			margin-right: 5px;
		}
	}

	&.blued {
		background-color: $blue;

		&:hover {
			background-color: #1692e5;
		}
	}

	&.whited {
		background-color: $white;
		color: $blue;

		&:hover {
			background-color: #f5f5f5;
		}
	}

	&.full {
		width: 100%;
		text-align: center;
	}

	&.xl {
		padding-top: 15px;
		padding-bottom: 15px;
		font-size: 1.2em;
	}

	&.xs {
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: .8em;
	}

	&.mini {
		font-size: 12px;
		padding: 5px 13px;
		line-height: 1em;
	}
}

//**********************//
//******* Quotes *******// 
.quote {
	text-align: left;
	padding-left: 50px;
	margin: 20px 0;
	color: #666;
	position: relative;

	.quote-author {
		font-size: .8em;
		margin-top: 20px;

		span {
			font-weight: bold;
		}
	}

	&:before {
		content: "\f10d";
		font: normal normal normal 14px/1 FontAwesome;
	    font-size: inherit;
	    text-rendering: auto;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    position: absolute;
	    left: 0;
	    font-size: 30px;
	    top: 6px;
	    color: #eee;
	}

	@media (max-width: 768px) {
		padding-left: 70px;

		&:before {
			left: 20px;
		}
	}
}

//************************//
//******* Articles *******// 
.article-list {

	.article {
		margin-bottom: 30px;

		.article-thumb {
			margin-bottom: 20px;
		}

		.article-title {
			font-weight: bold;
		}

		.article-date {
			font-size: .7em;
			color: #999;
			font-style: italic;
			margin-top: -5px;
		}

		.article-content {
			margin-top: 10px;
			color: #999;
		}

		.more {
		}
	}

	&.list {
		.article {
			margin-bottom: 10px;
			position: relative;
			min-height: 65px;

			.article-thumb {
				position: absolute;
				left: 0;
				top: 0;
				width: 25%;
			}

			.article-title {
				padding-left: 25%;
				margin-left: 10px;
			}

			.article-date {
				padding-left: 25%;
				margin-left: 10px;
			}
		}
	}
}
