// Big input
.big-input {
	max-width: 550px;
	border-radius: 4px;
	background-color: $white;
	padding: 11px 50px 11px 15px;
	position: relative;
	box-shadow: 0 3px 0px 0px rgba(0, 0, 0, 0.1);

	.input-icon {
		position: absolute;
	    right: 10px;
	    top: 9px;
	    font-size: 2em;
	    color: $grey;
	}

	input {
		border: none;
		padding: 0;
		margin: 0;
		width: 100%;
		font-size: 1.2em;
		color: $grey;

		&:focus {
			outline: 0;
		}
	}

	&.focuson {
		box-shadow: 0 0 3px 4px rgba(0, 0, 0, 0.2);
	}
}

// Content areas
.content-area {
	padding: 50px 0;

	> h1, > h2, > h3 {
		margin-top: 0;
	}

	&.greyed {
		background-color: $light-grey;

		.badge-icon {
			background-color: $white;
		}
	}

	&.blued {
		background-color: $blue;
		color: $white;

		&.with-icons {
			background-image: url('../images/bg_icons.png');
			background-position: 0 0;
		}
	}

	&.strip {
		h2 {
			margin-bottom: 40px;
		}
	}
}

// Badges
.badge-group {
	margin-bottom: 35px;
	position: relative;

	.badge-icon {
		position: absolute;
		top: 0;
		left: 0;
	}

	.badge-text {
		padding-left: 50px;
	}
}

.badge-icon {
	background-color: $light-grey;
	margin-right: 7px;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    color: $grey;
    font-size: 1.1em;
    line-height: 35px;
    display: inline-block;
    text-align: center;
}

.social-badge {
	background-color: $light-grey;
	margin-right: 3px;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    color: $white;
    font-size: .9em;
    line-height: 25px;
    display: inline-block;
    text-align: center;

    &.fb { background-color: #365b98; }
    &.twt { background-color: #36c9f3; }
    &.gp { background-color: #d64161; }
    &.li { background-color: #3678b8; }
    &.yt { background-color: #d53f48; }
    &.vi { background-color: #7fcbf0; }
    &.pi { background-color: #d13f48; }
    &.inst { background-color: #36769f; }
}

// Buttons
.mv-button {
	border-radius: 4px;
	background-color: $green;
	padding: 8px 35px;
	display: inline-block;
	color: $white;
	box-shadow: 0 2px 0px 0px rgba(0, 0, 0, 0.1);

	&:hover {
		box-shadow: 0 4px 0px 0px rgba(0, 0, 0, 0.1);
		background-color: #46cb29;
		position: relative;
		bottom: 1px;
		cursor: pointer;
	}

	&.iconed {
		padding-left: 35px;

		i {
			margin-right: 5px;
		}
	}

	&.blued {
		background-color: $blue;

		&:hover {
			background-color: #1692e5;
		}
	}
}
