footer {
	background-color: #363f48;
	padding: 50px 0 20px;
	color: #bdbdbd;
	font-weight: 100;

	ul {
		
		li {
			font-weight: 400;
			color: $white;

			> a {
				color: #bdbdbd;
				font-weight: 100;

				&:hover {
					color:$white;
				}
			}
		}
	}

	.under-footer {
		font-size: .8em;
		margin-top: 20px;
	}

	.social-icons {
		position: relative;
		top: 20px;
	}

	@media (max-width: 550px){
		text-align: center;
		padding-top: 30px;
		font-size: .8em;

		.under-footer {	
			float: none !important;
		}

		.social-icons {
			float: none !important;
			top: 0;
		}
	}
}