header {
	nav {
		max-height: 80px;
		background-color: $white !important;

		.main-menu {
			max-width: 600px;
			margin: 0 auto;
			padding-top: 20px;
			text-align: justify;
		    -ms-text-justify: distribute-all-lines;
		    text-justify: distribute-all-lines;

		    > ul {
		    	width: 100%;

		    	> li {
		    		float: none;
		    		vertical-align: top;
				    display: inline-block;
				    *display: inline;
				    zoom: 1;
		    	}

		    	&:after {
		    		width: 100%;
				    display: inline-block;
				    font-size: 0;
				    line-height: 0
		    	}
		    }
		}

		li > a {
	    	padding-top: 10px !important;
	    	padding-bottom: 10px !important;
	    	text-transform: uppercase;
	    	font-size: .7em;
	    	font-weight: 400;
	    	border-bottom: 2px solid $white;

	    	&#login {
	    		border: thin solid #bbb;
	    		border-radius: 4px;

	    		&:hover {
	    			background-color: $blue;
	    			color: $white;
	    			border-color: $blue;
	    		}
	    	}

	    	&:hover {
	    		border-bottom: 2px solid $blue;
	    	}
	    }

	    .navbar-brand {
	    	max-width: 150px;
	    	padding-top: 20px !important;
	    }
	}

	.header {
		padding: 65px 0;
		margin-top: 55px;
		background-color: $blue;
		background-image: url('../images/bg_icons.png');
		background-position: 0 30px;
		background-repeat: repeat;
		color: $white;
	}
}

