header {
	nav {
		min-height: 60px !important;
		background-color: $white !important;
		
		ul {
			&.navbar-right {
				padding: 20px 0;

				li {
					> a {
				    	padding-top: 10px !important;
				    	padding-bottom: 10px !important;
				    	text-transform: uppercase;
				    	font-size: .7em;
				    	font-weight: 400;
				    	border-bottom: 2px solid $white;

				    	@media (max-width: 900px) {
			    			padding-right: 10px;
			    			padding-left: 10px;
			    			font-size: .6em;
						}

						@media (min-width: 768px) {
					    	&.login-btn {
					    		border: thin solid #bbb;
					    		border-radius: 4px;

					    		&:hover,
					    		&.active {
					    			background-color: $blue;
					    			color: $white;
					    			border-color: $blue;
					    			border-bottom-width: 0;
					    		}
					    	}

					    	&:hover {
					    		border-bottom: 2px solid $blue;
					    	}
				    	}
				    }

				    &:last-child {
			    		margin-left: 40px;

			    		@media (max-width: 910px) {
			    			margin-left: 10px;
						}

						@media (max-width: 768px) {
			    			margin-left: 0;
						}
			    	}
			    }

			    @media (max-width: 768px) {
			    	padding: 0;
			    }

			    ul {
			    	&.dropdown-menu {
				    	padding: 0;
				    	width: 100px;
			    		left: -25px;
			    		top: 65px;
			    		border: none;
			    		box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.2);
			    		font-size: 1em;

				    	li {
				    		margin-left: 0;

				    		a {
				    			color: #777;
				    			&:hover {
				    				border-bottom-color: #f5f5f5;
				    			}
				    		}
				    	}

			    		> i {
				    		top: -30px;
						    position: absolute;
						    left: 65px;
						    font-size: 45px;
						    color: #fff;
						    text-shadow: 0px -4px 4px rgba(0,0,0,0.05);
				    	}

				    	@media (max-width: 768px) {
				    		> i {
				    			display: none;
				    		}
				    	}
				    }

			    	&.blog-menu {
			    		width: 600px;
			    		padding: 10px 0 0 0;
			    		left: -260px;
			    		top: 65px;
			    		border: none;
			    		box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.2);
			    		font-size: .8em;

				    	li {
				    		padding: 10px 20px;
				    		min-height: 65px;

				    		.blog-article {
				    			position: relative;
				    			padding: 0 10px;

				    			a {
				    				color: $grey;
				    				
				    				.blog-article-thumb {
						    			max-width: 40px;
						    			position: absolute;
						    			left: 15px;
						    			top: 0;

						    			img {
						    				border-radius: 4px;
						    			}
						    		}

						    		.blog-article-title {
						    			padding-left: 50px;
						    			font-weight: 400;
						    			font-size: .9em;
						    			line-height: 1.3em;
						    		}
				    			}
				    		}

				    		&.more {
				    			min-height: 0;
				    			padding: 0;
				    			text-align: center;

				    			a {
				    				text-transform: lowercase;
				    				border-bottom: none;
				    				font-size: .8em;
				    				color: $blue;

				    				&:hover {
				    					background-color: #eee;
				    					color: $dark-blue;
				    				}
				    			}
				    		}

				    		&:nth-child(odd) {
				    			background-color: $light-grey;
				    		}
				    	}

				    	> i {
				    		top: -30px;
						    position: absolute;
						    left: 285px;
						    font-size: 45px;
						    color: #fff;
						    text-shadow: 0px -4px 4px rgba(0,0,0,0.05);
				    	}

				    	@media (max-width: 900px) {
				    		left: -356px;

				    		> i {
				    			left: 374px;
				    		}
				    	}
				    }

				    &.user-menu {
				    	left: initial;
				    	right: 0;

				    	> i {
				    		right: 7px;
				    		left: initial;
				    	}
				    }
			    }
			}
		}

	    .navbar-brand {
	    	max-width: 150px;
	    	padding-top: 20px !important;
	    	padding-left: 0;
	    }

	    @media (max-width: 768px) {
			> .content-container {
				padding: 0;
			}

			.navbar-brand {
				max-width: 110px;
    			padding-top: 15px !important;
    			padding-left: 15px;
			}
		}
	}

	.header {
		padding: 65px 0 50px;
		margin-top: 55px;
		background-color: $blue;
		background-image: url('../images/bg_icons.png');
		background-position: 0 30px;
		background-repeat: repeat;
		color: $white;
	}
}

