/* main scss file */
@import 'variables';
@import 'header';
@import 'components';
@import 'footer';

body {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 1.8em;
	color: $grey;
}

// fonts
h1, h2, h3 {
	font-weight: 300;
}

a {
	color: $blue;

	&:hover {
		color: $blue;
	}
}

ul {
	padding-left: 0;
	list-style: none;
}

img {
	max-width: 100%;
}

p {
	margin-bottom: 20px;
}

.content-container {
	max-width: 1000px;
	margin: 0 auto;
}

.center {
	text-align: center;
}

.clearfix {
	clear: both;
}