// colors
$white: #fff;
$blue: #189df7;
$light-blue: #dcecf9;
$dark-blue: #1692e5;
$green: #50db32;
$light-green: #a1e894;
$dark-green: #46cb29;
$grey: #666;
$muted: #999;
$light-grey: #f5f6fa;
$brown-grey: #f6f3ef;