//**********************//
//******* Steps *******// 
.mv-step {
	text-align: center;
	margin-top: 40px;

	.title {
		font-weight: bold;
		font-size: 1.2em;
		margin: 20px 0;
	}

	i {
		font-size: 2em;
	}
}

//************************//
//******* Features *******// 
.feature-reel {

	.feature-reel-item {
		position: relative;
		min-height: 90px;
		margin-bottom: 40px;

		.item-badge {
			background-color: transparent;
			border: 2px solid $blue;
		    width: 90px;
		    height: 90px;
		    border-radius: 100%;
		    color: $blue;
		    font-size: 2em;
		    line-height: 85px;
		    text-align: center;
		    position: absolute;
		    left: 0;
		    top: 0;
		    -webkit-transition: all .15s ease-in-out;
		    transition: all .15s ease-in-out
		}

		.item-content {
			padding-left: 110px;

			.item-title {
				font-weight: bold;
				font-size: 1.2em;
			}

			.item-description {
				color: #999;
			}
		}

		&.active {
			cursor: pointer;

			.item-badge {
				background-color: $blue;
				color: $white;
			}
		}
	}
}


//*************************//
//******* Solutions *******// 
.solutions-wrapper {

	margin: 0 auto;
	overflow: hidden;
	display: table;
	border-spacing: 30px;

	.solution {
		display: table-cell;
		position: relative;
		color: $grey;
		text-align: center;
		margin: 20px 0;
		width: 33.33%;
		background-color: $white;
		box-shadow: 0 2px 0px 0px rgba(0, 0, 0, 0.1);

		.header {
			font-weight: bold;
			padding: 15px 20px;
			border-bottom: 1px solid #f2f2f2;
			font-size: 1.2em;
		}

		.content {
			font-size: .9em;
			padding: 30px 20px 80px 20px;
		}

		.footer {
			position: absolute;
			bottom: 30px;
			width: 100%;
			padding: 0 20px;

			.mv-button {
				width: 100%;
			}
		}
	}

	&:after {
		clear: both;
	}

	@media (max-width: 768px) {

		border-spacing: 0;
		
		.solution {
			display: block;
			width: 100%;
		}
	}
}

//************************//
//******* Progress *******// 
.mv-progress{
    border-width:1px 0;
    list-style:none;
    margin-bottom: 50px;
    text-align:center;
    color: #cacbcd;

    > li {
    	display: inline;
    	margin: 0 20px;

    	&:after {
    		content: "\f105";
			font: normal normal normal 14px/1 FontAwesome;
		    font-size: inherit;
		    text-rendering: auto;
		    -webkit-font-smoothing: antialiased;
		    -moz-osx-font-smoothing: grayscale;
		    font-size: 30px;
		    position: relative;
		    top: 4px;
		    left: 20px;
    	}

    	&.active {
    		color: $grey;
    		font-weight: 400;
    	}

    	&:last-child {
    		&:after {
    			content: "";
    		}
    	}
    }
}

//**************************//
//******* Pagination *******// 
.mv-pagination {
	margin: 40px 0;
	text-align: center;
	list-style:none;
	font-size: .8em;

	> li {
		display: inline;

		a {
			color: #999;
			padding: 5px 10px;

			&.active {
				background-color: $blue;
				color: $white;
				border-radius: 4px;
			}

			&.previous {
				margin-right: 10px;
				> i {
					margin-right: 10px;
				}
			}
			&.next {
				margin-left: 10px;
				> i {
					margin-left: 10px;
				}
			}
		}
	}
}

